* * * * * /usr/local/bin/reprepro-main --silent --silent --waitforlock 10 --noskipold update phoenix-stretch
* * * * * /usr/local/bin/reprepro-main --silent --silent --waitforlock 10 --noskipold update xivo-dev-tools
* * * * * /usr/local/bin/reprepro-main --silent --silent --waitforlock 10 --noskipold update wazo-dev-tools
